.header {
    margin: auto;
    text-align: center;
    padding: 10px;
    width: fit-content;
}
#h1 {
    background-color: mediumpurple;
    border-radius: 25px;
    margin-bottom: 10px;
}
#h2 {
    background-color: mediumpurple;
    border-radius: 25px;
    margin-bottom: 10px;
}

.dropBox {
    padding: 10px;
    font-size:xx-large;
    font-family: monospace;
    background-color: lightseagreen;
    margin-bottom: 10px;
    border-radius: 60px;
}
.draggables {
    padding: 20px;
    font-size: medium;
    font-family: monospace;
    background-color: lightpink; 
    cursor: pointer;
    display: inline-block;
    border-radius: 25px;
}
body {
    background-color: #6495ED;
}

.movingObj {
    opacity: 50%;
}

.selections {
    text-align: center;
}

#submitButton {
    text-align: center;
}

#submit {
    font-size: larger;
    background-color: lightblue;
    border-radius: 25px;
    padding: 5px;
    width: 100px;
}