.header {
    margin: auto;
    text-align: center;
}
.dropBox {
    padding: 20px;
    font-size:xx-large;
    font-family: monospace;
}
.draggables {
    padding: 20px;
    font-size:xx-large;
    font-family: monospace;
    background-color: lightpink; 
    cursor: pointer;
    display: inline-block
}
body {
    background-color: #6495ED;
}

.movingObj {
    opacity: 50%;
}